body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#mainHeader{
    background: #333 ;
    color: white;
}

#mainNav {
    background: #ccc;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  #mainNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  #mainNav li {
    display: inline;
    padding: 5px 10px;
  }
  #mainNav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
  #mainNav li:hover {
    background: #aaa;
  }

  #jumbo {
    background-image: url('../img/bg.jpg');
    background-position: center center;
    min-height: 200px;
    text-align: center;
  }
  #jumbo h1 {
    color: white;
    font-size: 45px;
    padding-top: 20px;
    line-height: 1.6em;
  }


h1 {
    color:blue;    
}

p {
    border-top: 5px solid blue;
  border-right: 2px dotted green;
  border-bottom: 5px dashed red;
  border-left: 2px dotted green;
  border: 3px solid green;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding: 10px 20px 10px 20px;
  padding: 10px 20px;
  padding: 20px;
  margin-top: 40px;
} 